html, body {
  width: 100%;
  background: #141414;
  font-size: 10px;
}

button, input, optgroup, select, textarea {
  color: #fff;
  font: inherit;
  margin: 0;
}

img {
  width: 100%;
  height: auto;
}

/* Header */
.header {
  position: sticky;
  top: 0;
  min-height: 70px;
  height: auto;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
  transition: background 0.3s ease, padding 0.3s ease;
  z-index: 100;
}

.header.scrolled {
  background: #141414;
}

.header__content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  height: 68px;
  padding: 0 4%;
  transition: background-color 0.4s;
}

.header__logo-link {
  margin-right: 25px;
}

.header__logo-img {
  display: inline-block;
  width: 92px;
  font-size: 1.8em;
  cursor: pointer;
  margin-right: 5px;
  text-decoration: none;
}

.header__menu {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

.header__menu-item a {
  margin-left: 18px;
  font-size: 14px;
  font-weight: lighter;
  line-height: 1.4;
  color: #e5e5e5;
}

.header__menu-item a:hover {
  color: #b3b3b3;
}

.header__menu-item .active {
  font-size: 1.2rem;
  font-weight: 500;
  color: #fff;
  cursor: default;
}

.header__actions {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: absolute;
  top: 0;
  right: 4%;
  flex-grow: 1;
  height: 100%;
}

.header__search-button,
.header__noti-button,
.header__account-button {
  display: inline-block;
  background: transparent;
  border: none;
  cursor: pointer;
  margin-right: 10px;
}

.header__account-button {
  display: block;
  width: 32px;
  padding: 0;
  margin-right: 0;
}

.header__account-button img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

/* Contents */
.content__main {
  position: absolute;
  top: 0;
  width: 100%;
  height: auto;
}

.content__main-background {
  width: 100%;
  height: auto;
}

.content__main-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, #141414 100%);
  pointer-events: none; /* 클릭 방지 */
}

.content__main-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: absolute;
  top: 0;
  left: 4%;
  bottom: 35%;
  width: 36%;
}

.content__main-info-title {
  width: 100%;
}

.content__main-info-sub-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  font-size: 1.6vw;
  color: #fff;
  margin: 1vw 0;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.45);
  transition: color 1s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.content__main-info-sub-icon {
  width: 1.5em;
  height: 1.5em;
  margin-right: 0.5em;
}

.content__main-info-description {
  font-size: 1.2vw;
  color: #fff;
  line-height: normal;
  margin-top: 0.1vw;
}

.content__main-button-layout {
  display: flex;
  line-height: 88%;
  margin-top: 1.5vw;
  white-space: nowrap;
}

.content__main-button-layout > button {
  display: flex;
  align-items: center;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  padding-left: 2rem;
  padding-right: 2.4rem;
  border: 0;
  border-radius: 5px;
  font-size: 1.2rem;
  gap: 0.5rem;
  margin-right: 1rem;
  cursor: pointer;
}

.play-button{
  background-color: #fff;
  color: black;
}

.info-button {
  background-color: rgba(109, 109, 110, 0.7);
  color: white;
}

.blank_space {
  position: relative;
  height: 35vw;
  bottom: 35%;
}
/* contents slice */

.content__carousel {
  width: 100%;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  margin: 3vw 0;
  padding: 0;
}

.carousel-title {
  font-size: 1.4vw;
  vertical-align: bottom;
  padding: 0 4%;
  color: #e5e5e5;
  display: inline-block;
  font-weight: 500;

}

.carousel-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel {
  width: 100%;
  overflow: hidden;
  padding: 0 4%;
}

.carousel-track {
  width: 100%;
  display: flex;
  transition: transform 0.4s ease-in-out;
}

.carousel-item {
  min-width: 25%; /* 4개씩 표시 (100% / 4) */
  box-sizing: border-box;
  padding: 5px;
}

.carousel-item img {
  width: 100%;
}

.carousel-item img:hover {
  transform: scale(1.1); /* 10% 확대 */
}

.carousel-prev, .carousel-next {
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  cursor: pointer;
  padding: 10px 15px;
  font-size: 20px;
  z-index: 10;
  height: 100%;
  width: 4%;
}

.carousel-prev { left: 0; }
.carousel-next { right: 0; }

.carousel-prev:disabled, .carousel-next:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
